 
		.homepage{background-color: #EAEBE6!important;}
		.pagination .ng-binding {color: #E46C3D!important;}
		.colorwhite.ng-binding {color: #E46C3D!important;}
		.navigation-bar {color: #E46C3D!important;}
		#cboxLoadedContent { background-color: #ECFFE8!important;}
		input[type="checkbox"] + span{ border: 2px solid #E46C3D!important;}
		.check-box-container, .ng-binding, .dropdownlabel { color: #0018FF!important;}
		